.container {
  padding: 24px;
}


// 검색창
.searchBar {
  input {
    width: 100%;
    height: 30px;
  }
} 
// 카테고리
.li {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
  > div {
    height: 100%;
    display: flex;
    align-items: center;
    .title {
      width: 30%;
    }
    .selected {
      width: 70%;
    }
  }
}

.bottom {
  width: 100%;
}
// 상태표시창
.status {
  width: 100%;
  color: red;
  font-size: 12px;
  text-align: center;
}

// search 하단버튼
.bottomBtns {
  width: 100%;
  // flex
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // position fixed
  position: fixed;
  left: 0;
  bottom: 100px;
  // 버튼 공통 스타일
  .btn {
    color: #fff;
    background: #000;
    // border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    padding: 8px 0 ;
  }
  .reset {
    width: 42px;
  }
  .complete {
    width: 65%;
  }
}

// 모달 Modal

$modal-Y: 0; // Modal 등장위치
.modal {
  width: 100%;
  height: 100%;
  background-color: bisque;
  position: fixed;
  // left: 50%;
  transform: translateY( $modal-Y);
  z-index: 8;
  overflow: auto;
  animation: modalSlideUp .2s ease-out;
  .modal_btns {
    position: absolute;
    right: 16px;
    bottom: 16px;
    .close {
      font-size: 72px;
    }
  }
  .modal_content {
    display: flex;
    flex-wrap: wrap;
    .modal_img {
      width: 100px;
      height: 100px;
      margin: 16px;
      position: relative;
    }
  }
}
@keyframes modalSlideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY($modal-Y);
    opacity: 1;
  }
}