// Category
.CAT_ctn {
  width: 100%;
  position: relative;
  $height : 40px;
  .CAT_box {
    width: 100%;
    height: $height;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;

    display: flex;
    justify-content: space-around;
    .btn {
      width: 50%;
      height: 100%;
      font-size: 14px;
      font-weight: bold;
      
      display: inline-flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 16px 0 14px;
      &:first-child {
        padding: 0 14px 0 16px;
        border-right: 2px solid #ccc;
      }
      .term__txt {
        font-size: 13px;
        color: #333;
        margin: 0 12px 0 0;
      }
      .select__txt {
        color: rgb(141, 103, 172);
      }
      // .arrow__dropdown {}
    }
  }
  .dropdown_content {
    width: 75%;
    height: 100%;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: $height;
    left: auto;
    right: auto;
    }

}

// Car List
.car_section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  
  .car_article {
    $border_weight: 1px;
    // width: 100%;
    width: calc(100% - ( #{$border_weight} * 2 ) );
    height: 100px;
    border-bottom: $border_weight solid #000;
    display: flex;
    align-items: center;

    user-select: none;
    .img_ctn {
      width: 100%;
      position: relative;
      .img {
        max-width: 200px;
        width: 90%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
      }
    }
    .article {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .name {
        display: inherit;
        justify-content: flex-start;
        margin-bottom: 16px;
        // background-color: #aaa;
      }
      .InfoBtn {
        display: inherit;
        width: 80%;
        padding: 4px 0;
        justify-content: center;

        border: 1px solid #333
        
      }
    }
  }

  .info_section {
    width: 100%;
    background: #e8e8e8;

    transition: all .4s;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .hide {
    min-height: 0;
    max-height: 0;
  }
  .show {
    min-height: 100px;
    max-height: 200px;
    padding: 16px 0;
  }
  // Chart
  .dl {
    width: 25%;
    dt {
      font-weight: bold;
      margin-top: 12px;
    }
    dd {
      color: #333;
      margin-top: 4px;
    }
  }
}
